In [1]:
subject=['maths','science','hindi']
print(subject)

['maths', 'science', 'hindi']

In [3]:
print(subject[1])
print(type(subject))

science
<class 'list'>

In [4]:
subject_diff=['v',15,'r','s',9.76,'t','u',['vd','2005']]
print(subject_diff)

['v', 15, 'r', 's', 9.76, 't', 'u', ['vd', '2005']]

In [5]:
subject=['maths','science','hindi']
for names in subject:
  print(names)

maths
science
hindi

In [6]:
matrix=[[1,25,45],[ 31,15,11],[2,4,6]]
print(matrix)

[[1, 25, 45], [31, 15, 11], [2, 4, 6]]

In [8]:
for row in matrix:
    print(matrix)
    print('\n\n',matrix[0][0], matrix[1][2], matrix[2][1])

[[1, 25, 45], [31, 15, 11], [2, 4, 6]]


 1 11 4
[[1, 25, 45], [31, 15, 11], [2, 4, 6]]


 1 11 4
[[1, 25, 45], [31, 15, 11], [2, 4, 6]]


 1 11 4

In [13]:
# tuple 
my=('vedanshi','data', 15, 0.4,)
print(my)
print(type(my))
print(my[3])

('vedanshi', 'data', 15, 0.4)
<class 'tuple'>
0.4

In [14]:
tuple1 = ("apple",)
print(type(tuple1))
#NOT a tuple
tuple2 = ("apple")
print(type(tuple2))

<class 'tuple'>
<class 'str'>

In [15]:
#dictionary

In [16]:
a={1:'Sati',2:'CSE',3:'B',4:'33008'}
print(a)

{1: 'Sati', 2: 'CSE', 3: 'B', 4: '33008'}

In [17]:
a.keys()

dict_keys([1, 2, 3, 4])

In [18]:
a.values()

dict_values(['Sati', 'CSE', 'B', '33008'])

In [19]:
print(a.items())

dict_items([(1, 'Sati'), (2, 'CSE'), (3, 'B'), (4, '33008')])

In [22]:
print(a[1])

Sati